<div class="stc-w-full stc-py-4x">
  <mat-form-field appearance="fill" class="stc-w-full stc-mt-4x stc-mb-2x stc-block">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field appearance="fill" class="stc-w-full stc-mb-2x stc-block">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="primary" class="stc-w-25%">Login</button>

</div>
