<h2 mat-dialog-title>Create Order</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="stc-w-full stc-mt-4x stc-mb-2x stc-block">
    <mat-label>Medicines</mat-label>
    <mat-select matInput [(ngModel)]="cart().items" multiple>
      @for (medicine of medicines; track $index) {
        <mat-option [value]="medicine">{{medicine.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="stc-w-full stc-mt-4x stc-mb-2x stc-block">
    <mat-label class="stc-block stc-w-full">Prescription</mat-label>
    <input class="stc-block stc-w-full" type="file" (change)="onFileSelected($event)" />
    @if (cart().file && cart().file!()) {
      <img [src]="cart().file!()" alt="File" class="stc-w-90x stc-h-90x stc-object-cover"/>
    }

  </div>
  <div class="stc-grid stc-grid-cols-12">
    <div class="stc-col-span-12">
      <mat-form-field appearance="fill" class="stc-w-full stc-mt-4x stc-mb-2x stc-block">
        <mat-label>Notes</mat-label>
        <textarea class="stc-block stc-w-full" rows="6" id="notes" [(ngModel)]="cart().notes" matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="stc-grid stc-grid-cols-12">
    <div class="stc-col-span-12">
      <mat-form-field appearance="fill" class="stc-w-full stc-mt-4x stc-mb-2x stc-block">
        <mat-label>Medical Analysis</mat-label>
        <textarea class="stc-block stc-w-full" rows="6" id="medicalAnalysis" [(ngModel)]="cart().medicalAnalysis" matInput></textarea>
      </mat-form-field>
    </div>
  </div>
  <hr class="stc-mt-9x" />
  <h1 class="stc-font-bold">Subtotal: {{cart().subtotal() | currency:'$'}} </h1>
  <div class="stc-w-full stc-text-center stc-mt-4x">
    <button class="stc-font-xbold stc-text-natural-100 stc-text-center stc-bg-[#012269] stc-rounded-xs stc-px-7x stc-py-2x" (click)="addOrder()">Add order</button>
  </div>
</mat-dialog-content>
