::ng-deep.stc-login{
    span.mdc-tab__text-label{
        font-size: 18px;
    }
    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label{
        color: #4f008c !important;

    }
    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label{
        color: #4f008c !important;
        font-size: 20px;
    }
    .mat-mdc-tab .mdc-tab-indicator__content--underline{
        border-color:#4f008c !important;
    }
}