<div class="stc-login">
    <div class="stc-grid stc-grid-cols-12"> 
        <div class="stc-col-span-12 lg:stc-col-span-4">
            <img class="stc-h-[100vh] stc-w-full" src="assets/img/photo-1640876777002-badf6aee5bcc.avif" alt="cover-login.avif">
        </div>
        <div class="stc-col-span-12 lg:stc-col-span-8 stc-bg-natural-100">
            <div class="  stc-w-full stc-h-full">
                <div class="stc-flex stc-items-center stc-justify-center stc-h-full stc-px-9x">
                    <mat-tab-group class="stc-w-full">
                        <mat-tab label="Login">
                            <div class="stc-w-full stc-py-4x">
                                <mat-form-field appearance="fill" class="stc-w-full stc-mt-4x stc-mb-2x stc-block">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                                  <mat-form-field appearance="fill" class="stc-w-full stc-mb-2x stc-block">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password">
                                  </mat-form-field>
                                  <button mat-raised-button color="primary" class="stc-w-25%">Login</button>

                            </div>
                        </mat-tab>
                        <mat-tab label="Register "> 
                            <div class="stc-w-full stc-py-4x">
                                <mat-form-field appearance="fill" class="stc-w-full stc-mt-4x stc-mb-2x stc-block">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                                  <mat-form-field appearance="fill" class="stc-w-full stc-mb-2x stc-block">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="password" type="password" >
                                  </mat-form-field>
                                  <button mat-raised-button color="primary" class="stc-w-25%">Login</button>
                            </div>    
                        </mat-tab>
                      </mat-tab-group>
    
                </div>
    
            </div>  
        </div>
    </div>
    
</div>