
<div class="bg-cover">
    <div class="stc-grid stc-grid-cols-12 ">
        <div class="stc-col-span-12 ">
          <div class="stc-border-b stc-border-[#f3f3f352]  stc-flex stc-items-center stc-justify-between stc-p-4x">
            <div class="stc-flex stc-flex-col stc-items-center">
                <span class="stc-text-natural-500 stc-text-4.5x">الصيدليه</span>
            </div>
            <img class="stc-cursor-pointer stc-w-6x" src="../assets/img/list.svg" alt="">
          </div>
        </div>
    </div>
    <div class="stc-grid stc-grid-cols-12 stc-py-6x stc-gap-md">
        <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/1.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/2.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/3.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/4.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/5.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/6.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/7.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/8.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/9.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/10.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/11.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
          <div class="stc-col-span-12 lg:stc-col-span-2 stc-justify-self-center">
            <img
              class="stc-rounded-50% stc-h-100x stc-w-100x stc-cursor-pointer"
              src="../assets/img/12.jpg"
              alt=""
            />
            <p class="stc-text-mmmd stc-leading-9 stc-text-center stc-text-natural-100">
              قسم الأمراض النفسيــة
            </p>
          </div>
        
    </div>
</div>
<div class="stc-container stc-pb-9x stc-px-0x">
    <div class="stc-grid stc-grid-cols-12 stc-py-7x stc-gap-md">
        <div class="stc-col-span-12 lg:stc-col-span-8 stc-bg-natural-100 stc-p-4x stc-rounded-sm">

            <div class="stc-flex stc-flex-col stc-gap-xxxxxl">
                <div class="stc-border stc-border-natural-500 stc-rounded-xxs stc-p-4x ">
                    <ul class="stc-pb-7x">
                        <h1 class="stc-mb-7x">الوصفه الطبيه</h1>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                    </ul>
                </div>
                <div class="stc-border stc-border-natural-500 stc-rounded-xxs stc-p-4x ">
                    <ul class="stc-pb-7x">
                        <h1 class="stc-mb-7x">الوصفه الطبيه</h1>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                    </ul>
                </div>            <div class="stc-border stc-border-natural-500 stc-rounded-xxs stc-p-4x ">
                    <ul class="stc-pb-7x">
                        <h1 class="stc-mb-7x">الوصفه الطبيه</h1>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                        <li>r/</li>
                    </ul>
                </div>
                <div class="stc-border stc-border-natural-500 stc-rounded-xxs stc-p-4x ">
                    <ul class="stc-pb-7x">
                        <h1 class="stc-mb-7x">تحاليل طبية</h1>
    
                    </ul>
                </div>
            </div>
        </div>
        <div class="stc-col-span-12 lg:stc-col-span-4">
        <div class="stc-flex stc-flex-col">
            <div class="stc-bg-natural-100 stc-rounded-sm stc-p-4x ">
                <img class="stc-w-full stc-h-full" src="assets/img/product-phrmacy.jpeg" alt="product-phrmacy">
              <div class="stc-text-4x">نيكسيماش 40 مجم 28 كبسوله</div>
              <div class="stc-text-3x stc-text-natural-500">تيست</div>
              <div class="stc-flex stc-items-center stc-justify-between">
                   <div class="stc-flex stc-flex-col stc-items-start ">
                      <span class=" ">اسم المنتج</span>
                      <span class="stc-text-[#5341C7] stc-font-xbold">106.5 ج.م</span>
                   </div>
                   <span class="stc-line-through stc-text-natural-500">150 ج.م</span>
              </div>

          </div>
        </div>
        <div class="stc-flex stc-flex-col">
            <div class="stc-bg-natural-100 stc-rounded-sm stc-p-4x stc-my-4x">
                <img class="stc-w-full stc-h-full" src="assets/img/product-phrmacy.jpeg" alt="product-phrmacy">
              <div class="stc-text-4x">نيكسيماش 40 مجم 28 كبسوله</div>
              <div class="stc-text-3x stc-text-natural-500">تيست</div>
              <div class="stc-flex stc-items-center stc-justify-between">
                   <div class="stc-flex stc-flex-col stc-items-start ">
                      <span class=" ">اسم المنتج</span>
                      <span class="stc-text-[#5341C7] stc-font-xbold">106.5 ج.م</span>
                   </div>
                   <span class="stc-line-through stc-text-natural-500">150 ج.م</span>
              </div>

          </div>
        </div>
            </div>
        
    </div>
</div>
