<ul class="stc-pb-7x ">
  <h1 class="stc-mb-7x  stc-cursor-pointer" [routerLink]="['/order', order().orderNumber]">Prescription #{{order().orderNumber}}</h1>
  <h2 class="stc-mb-7x stc-cursor-pointer" routerLink="/profile" [queryParams]="{email: order().patient()?.email}">Patient name: {{order().patient()?.name}}</h2>
  @for (item of order().items(); track item.id) {
    <li>R/{{item.name}}</li>
  }
</ul>
@if (order().file && order().file!()) {
  <div>
    <h1>Prescription</h1>
    <img [src]="order().file!()" alt="File" class="stc-w-90x stc-h-90x stc-object-cover"/>
  </div>
}
@if (order().notes && order().notes!()) {
  <div>
    <h1>Notes</h1>
    <p>
      {{order().notes!() || "NA"}}
    </p>
  </div>
}
<div>
  <h1>Medical analysis</h1>
  <p>
    {{order().medicalAnalysis() || "NA"}}
  </p>
</div>
